/*实现鼠标悬浮下拉菜单*/
li:hover .dropdown-menu {display: block;}
/*禁用下拉菜单链接的点击事件*/
.dropdown-toggle{
    pointer-events: none;
}

/*主体*/
.xyy-body-bgColor{
    background-color: #f2f2f2;
}

.xyy-content-main{
    position: relative;
    overflow: auto;
    margin-top: 15px;
}

.xyy-content-main-article{
    border: 1px solid #fff;
    background-color: #fff;
    padding: .8rem;
    float: left;
    width: 75%;
}

.xyy-flex-end{
    display: flex;
    justify-content: flex-end;
}

.xyy-flex-between{
    display: flex;
    justify-content: space-between;
}
.xyy-text-box{
    border: 1px solid #f2f2f2;
    padding: .5rem;
}
.xyy-text-bottom-line{
    border-bottom: 1px solid rgba(139, 139, 139, 0.52);
    padding-bottom: 10px;
}
.xyy-link-gray{
    color: gray;
}
.xyy-link-gray:hover{
    text-decoration: none;
    color: #6B6B6B;
}

/*悬浮菜单样式*/
.xyy-drop-a{
    text-align: center;
    display: block;
    color: black;
    min-width: 100px;
/*    width: max-content;*/
    padding:.2rem .5rem;
    word-break: keep-all;
    white-space:nowrap;
}
.xyy-drop-a:hover{
    color: #03a9f4;
    background-color: #f3f3f4;
    text-decoration: none;
}
.xyy-drop-menu{
    position: relative;
    display: block;

}
.xyy-hover-btn{
    cursor: pointer;
}
.xyy-drop-content{
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
.xyy-drop-content-right{
    top:0;
}

/*头部导航菜单*/
.xyy-nav-head-bgColor{
    background-color: #343a40;
    margin-bottom: 15px;
}
.xyy-nav-head-a{
    display: block;
    color: #fff;
    padding: .5rem 1rem;
}
.xyy-nav-head-a:hover{
    text-decoration: none;
    color: #e6e6e696;
}

/*左侧导航菜单*/
.xyy-nav-fixed-left{
    float: left;

}
.xyy-nav-vertical{

}
.xyy-nav a{
    line-height: 20px;
    display: block;
    padding: 4px 8px;
    border-bottom: 1px solid #efefef;
    background-color: #f6f4f0;;
    color: #000;
}
.xyy-nav a:hover {
    text-decoration: none;
    color: #000;
    font-weight:bolder;
}
.xyy-nav-this{
    background-color: cornflowerblue !important;
}