body{
    background-color: #f3f3f4;
}
.content{
    padding-top: 20px;
    margin: auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
b{
    cursor: pointer;
}
.text-center{
    margin: 5px 0;
}
label.error{
    color: #ea330b;
}
