<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.eduSocialPractice.eduUser.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.edu.eduSocialPractice.eduUser.model.User">
    <id column="UID" jdbcType="INTEGER" property="uid" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="USER_NAME_INDEX" jdbcType="VARCHAR" property="userNameIndex" />
    <result column="BYNAME" jdbcType="VARCHAR" property="byname" />
    <result column="USEING_KEY" jdbcType="CHAR" property="useingKey" />
    <result column="USING_FINGER" jdbcType="CHAR" property="usingFinger" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="KEY_SN" jdbcType="VARCHAR" property="keySn" />
    <result column="SECURE_KEY_SN" jdbcType="VARCHAR" property="secureKeySn" />
    <result column="USER_PRIV" jdbcType="INTEGER" property="userPriv" />
    <result column="USER_PRIV_NO" jdbcType="SMALLINT" property="userPrivNo" />
    <result column="USER_PRIV_NAME" jdbcType="VARCHAR" property="userPrivName" />
    <result column="POST_PRIV" jdbcType="CHAR" property="postPriv" />
    <result column="POST_DEPT" jdbcType="VARCHAR" property="postDept" />
    <result column="DEPT_ID" jdbcType="INTEGER" property="deptId" />
    <result column="DEPT_ID_OTHER" jdbcType="VARCHAR" property="deptIdOther" />
    <result column="SEX" jdbcType="CHAR" property="sex" />
    <result column="BIRTHDAY" jdbcType="DATE" property="birthday" />
    <result column="IS_LUNAR" jdbcType="CHAR" property="isLunar" />
    <result column="TEL_NO_DEPT" jdbcType="VARCHAR" property="telNoDept" />
    <result column="FAX_NO_DEPT" jdbcType="VARCHAR" property="faxNoDept" />
    <result column="ADD_HOME" jdbcType="VARCHAR" property="addHome" />
    <result column="POST_NO_HOME" jdbcType="VARCHAR" property="postNoHome" />
    <result column="TEL_NO_HOME" jdbcType="VARCHAR" property="telNoHome" />
    <result column="MOBIL_NO" jdbcType="VARCHAR" property="mobilNo" />
    <result column="BP_NO" jdbcType="VARCHAR" property="bpNo" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="OICQ_NO" jdbcType="VARCHAR" property="oicqNo" />
    <result column="ICQ_NO" jdbcType="VARCHAR" property="icqNo" />
    <result column="MSN" jdbcType="VARCHAR" property="msn" />
    <result column="AVATAR" jdbcType="VARCHAR" property="avatar" />
    <result column="CALL_SOUND" jdbcType="CHAR" property="callSound" />
    <result column="LAST_VISIT_TIME" jdbcType="TIMESTAMP" property="lastVisitTime" />
    <result column="SMS_ON" jdbcType="CHAR" property="smsOn" />
    <result column="MENU_TYPE" jdbcType="CHAR" property="menuType" />
    <result column="LAST_PASS_TIME" jdbcType="TIMESTAMP" property="lastPassTime" />
    <result column="THEME" jdbcType="TINYINT" property="theme" />
    <result column="PORTAL" jdbcType="VARCHAR" property="portal" />
    <result column="PANEL" jdbcType="CHAR" property="panel" />
    <result column="ONLINE" jdbcType="INTEGER" property="online" />
    <result column="ON_STATUS" jdbcType="CHAR" property="onStatus" />
    <result column="ATTEND_STATUS" jdbcType="CHAR" property="attendStatus" />
    <result column="MOBIL_NO_HIDDEN" jdbcType="CHAR" property="mobilNoHidden" />
    <result column="MYTABLE_LEFT" jdbcType="VARCHAR" property="mytableLeft" />
    <result column="MYTABLE_RIGHT" jdbcType="VARCHAR" property="mytableRight" />
    <result column="USER_PRIV_OTHER" jdbcType="VARCHAR" property="userPrivOther" />
    <result column="USER_NO" jdbcType="SMALLINT" property="userNo" />
    <result column="NOT_LOGIN" jdbcType="TINYINT" property="notLogin" />
    <result column="NOT_VIEW_USER" jdbcType="CHAR" property="notViewUser" />
    <result column="NOT_VIEW_TABLE" jdbcType="CHAR" property="notViewTable" />
    <result column="NOT_SEARCH" jdbcType="CHAR" property="notSearch" />
    <result column="BKGROUND" jdbcType="VARCHAR" property="bkground" />
    <result column="BIND_IP" jdbcType="VARCHAR" property="bindIp" />
    <result column="LAST_VISIT_IP" jdbcType="VARCHAR" property="lastVisitIp" />
    <result column="MENU_IMAGE" jdbcType="VARCHAR" property="menuImage" />
    <result column="WEATHER_CITY" jdbcType="VARCHAR" property="weatherCity" />
    <result column="SHOW_RSS" jdbcType="CHAR" property="showRss" />
    <result column="MENU_EXPAND" jdbcType="CHAR" property="menuExpand" />
    <result column="MY_STATUS" jdbcType="VARCHAR" property="myStatus" />
    <result column="LIMIT_LOGIN" jdbcType="CHAR" property="limitLogin" />
    <result column="PHOTO" jdbcType="VARCHAR" property="photo" />
    <result column="IM_RANGE" jdbcType="TINYINT" property="imRange" />
    <result column="LEAVE_TIME" jdbcType="TIMESTAMP" property="leaveTime" />
    <result column="SECRET_LEVEL" jdbcType="INTEGER" property="secretLevel" />
    <result column="NOT_MOBILE_LOGIN" jdbcType="TINYINT" property="notMobileLogin" />
    <result column="MANAGE_MODULE_TYPE" jdbcType="VARCHAR" property="manageModuleType" />
    <result column="USER_PRIV_TYPE" jdbcType="TINYINT" property="userPrivType" />
    <result column="USER_MANAGE_ORGS" jdbcType="VARCHAR" property="userManageOrgs" />
    <result column="ID_NUMBER" jdbcType="VARCHAR" property="idNumber" />
    <result column="TRA_NUMBER" jdbcType="VARCHAR" property="traNumber" />
    <result column="SUBJECT" jdbcType="VARCHAR" property="subject" />
    <result column="POST" jdbcType="VARCHAR" property="post" />
    <result column="AVATAR_128" jdbcType="VARCHAR" property="avatar128" />
    <result column="POST_ID" jdbcType="INTEGER" property="postId" />
    <result column="JOB_ID" jdbcType="INTEGER" property="jobId" />
    <result column="ROOM_NUM" jdbcType="VARCHAR" property="roomNum" />
    <result column="DEPT_YJ" jdbcType="VARCHAR" property="deptYj" />
  </resultMap>

  <select id="selectLike" resultType="map">
    SELECT UID,USER_ID,USER_NAME FROM user
    <where>
      <if test="userName != null and userName !=''">
        and USER_NAME LIKE "%"#{userName,jdbcType=VARCHAR}"%"
      </if>
    </where>
  </select>


</mapper>